/**/
.heading2{
    font-family: monospace;
    font-size: 24px;
    color: rgb(78, 54, 77);
    margin-bottom: 1rem;
  }

.body{
    background-color: rgb(131, 131, 131);
}

#box-container{
background-color: #ac0101;
display:flex;
height: auto;
width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c08b8b;
  /* min-width: 160px; */
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* display: flex;
  flex-direction: row; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
}

/* .dropdownbtn */
.dropdownbtn {
  /* background-color: #ac0101; */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  /* display: block; */
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  display: flex;
  flex-direction: row;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: flex;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

header .pagelogo{
  /* width: 100%; */
  height: auto;
  border-radius: 4px;
}
#logo-img{
  position:relative;
  height: auto;
  width: 100%;
  min-width: 25%;
  min-height: 25%;
}

#menu-img{
  margin-right: auto;
}

#menu-img:hover{
  animation-name: spin;
  animation-duration: 2000ms;}
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}

.wordbreak{
  /* word-break: keep-all; */
  word-wrap:normal;
}

.wordwrap{
 width: 70vw;
}

