
.heading2{
    font-family: monospace;
    font-size: 24px;
    color: rgb(78, 54, 77);
  }

.body{
    background-color: rgb(131, 131, 131);
}

#box-container{
background-color: #ac0101;
display:flex;
height: auto;
width: 100%;
}

.responsive{
  height: auto;
  width: 100%;
}

header .pagelogo{
  width: 100%;
  height: auto;
  border-radius: 4px;
}
#logo-img{
  position:relative;
  height: auto;
  width: 100%;
  min-width: 25%;
  min-height: 25%;
}

#menu-img{
  margin-right: auto;
}

.wordbreak{
  /* word-break: keep-all; */
  word-wrap:normal;
}

.wordwrap{
 width: 70vw;
}
